<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Status: {{status}}</strong>
    <p>This application is an example of calling the plugin to <a target="_blank" rel="noopener noreferrer" href="https://developer.android.com/training/articles/security-gms-provider#java">Update the Android Security Provider</a>.</p>
  </div>
</ion-content>
